@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: #65c0ba;
}
.unactive {
  color: #000;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
}

.mukta-mahee-regular {
  font-family: "Mukta Mahee", sans-serif;
}
